<template>
    <table class="table align-items-center table-flush"  id="datatable-basic">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Priority</th>
                <th scope="col">Project</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
                <th scope="col">Sort</th>
            </tr>
        </thead>
        <draggable :list="tasksNew" :options="{animation: 300, handle: '.my-handle'}" :element="'tbody'" @change="update">
            <tr v-for="(task, index) in tasksNew">
                <td>
                    {{ index + 1 }}
                </td>
                <td>{{ task.name }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.project.name }}</td>


                <td>{{ task.created_at}}</td>


                <td class="table-actions">
                    <a :href="'/task/' + task.id + '/edit'" class="table-action" data-toggle="tooltip" data-original-title="Edit task">
                        <i class="fas fa-user-edit"></i>
                    </a>

                    <form :action="'/task/' + task.id" method="post" style="display: inline-block">
                        <input type="hidden" name="_token" :value="csrf">
                        <input type="hidden" name="_method" value="delete">
                        <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Delete Task" onclick="confirm('Are you sure you want to delete this task?') ? this.parentElement.submit() : ''">
                            <i class="fas fa-trash"></i>
                        </a>
                    </form>
                </td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-move my-handle" viewBox="0 0 16 16" style="cursor: move">
                        <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                    </svg>
                </td>
            </tr>


        </draggable>
        <p v-if="tasks.length === 0" class="text-center mt-5">There is no data to show.</p>
    </table>
</template>

<script>
    import draggable from "vuedraggable";
    export default {

        components:{
            draggable
        },
        mounted() {
            console.log('Component mounted.')
        },
        props: ['tasks'],
        data() {
            return {
                tasksNew: this.tasks,
                csrf: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },

        methods:{
            update() {
                this.tasksNew.map((tasks, index) =>{
                    tasks.priority = index +1 ;
                });

                axios.put('/task/updateAll', {
                    tasks: this.tasksNew
                }).then((response) =>{
                    //Any response.
                });
            }
        }
    }
</script>
